@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(279, 6%, 55%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --red-error: hsl(0, 100%, 66%);
}
body {
  font-family: "Space Grotesk", sans-serif;
}
.section {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
}
/* cards  */
.cards {
  position: relative;
  width: 34%;
  background: url(../images/bg-main-desktop.png);
}
.card {
  position: absolute;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  padding: 15px;
  color: var(--white);
  display: flex;
}
/* front side  */
.front-side {
  background: url(../images/bg-card-front.png) no-repeat center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  right: -25%;
  top: 15%;
}
.card-num {
  font-size: 28px;
}
.res-details .name-exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
}
/* back side  */
.back-side {
  display: flex;
  justify-content: end;
  align-items: center;
  background: url(../images/bg-card-back.png) no-repeat center;
  background-size: cover;
  right: -40%;
  top: 55%;
}
.back-side .back-detail {
  margin-right: 25px;
}

/* content detail  */
.detail-content {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-content .details{
    width: 300px;   
}
/* form  */
.detail-content.comp form{
  display: none;
}
.form-field label{
    font-size: 14px;
}
.form-field input,button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}
::placeholder{
    color: #ccc;
}
.form-field input{
    border: 1px solid #ccc;
    margin: 5px 0;
    font-size: 16px;
}
input:focus{
  border-image-source: linear-gradient(30deg,hsl(249, 99%, 64%)z, hsl(278, 94%, 30%));
  border-width: 3pt;
  border-image-slice: 1;
}
.form-field .error {
    font-size: 12px;
    height: 12px;
    color: var(--red-error);
}
.half-field{
    display: flex;
}
.half-field input.date{
    width: 70px;
}
.btn{
    background-color: var(--Very-dark-violet);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}
/* completed section css  */
.detail-content.comp .completed{
  display: flex;
}
.completed{
    display: none;
    width: 300px;
flex-direction: column;
row-gap: 15px;
align-items: center;
}
.completed h4{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}
.completed p{
    color: var(--Light-grayish-violet);
    font-weight: 400;
    margin: 5px 0;
}


@media (max-width:992px) {
  .detail-content .details{
    margin-left: 50px;  
}
.front-side{
  right: -34%;
}
}

@media (max-width:768px) {
  .card{
width: 280px;
height: 160px;
  }
  .card-num {
    font-size: 18px;
  }
}

@media (max-width:600px) {
  .section {
    flex-direction: column;
  }
  .cards{
    width: 100%;
    height: 33vh;
  }
  .front-side{
    top: 50%;
    left: 5%;
    z-index: 99;
  }
  .back-side{
    top: 10%;
    left: 20%;
  }
  .detail-content{
   width: 100%;
   padding-top: 70px;
  }
  .detail-content .details{
    margin: 0;  
}
}
